  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
  }
  
:root {
    --header-background: hsl(211, 100%, 95%);
    --white: #fff;
    --welcome-background: hsla(211, 100%, 50%, 1);
  }
  
body {
    font-family: 'Inter', sans-serif;
    caret-color: transparent;
    font-weight: 400;
  }

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
  }

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
/*    flex-direction: column;*/
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--header-background);
    margin: 1.5rem 4rem;
    padding: 1.5rem 1.5rem;
    min-width: 500px;
    width: 100%;
}

header img {
    width: 40px;
    height: 40px;
    margin-bottom: 1.5rem;
}

h1 {
  font-size: 35px;
  margin-bottom: 1.5rem;
}

.header-text p {
  font-size: .70rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.card {
  display: flex;
    min-width: 500px;
}